.SliderBar{
    background-color: gray;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    overflow-y: auto;
    padding: 20px;
}

.SliderBar a {
    display: flex;
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
    margin-bottom: 30px;
}

.SliderBar a:hover {
    color: #000;
}

h1 {
    margin-bottom: 40px;
}